{% extends 'public/layout.html' %}
{% block title %}Registrar Contenido{% endblock %}

{% block bodycon %}


<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Registrar Nuevo contenido (Imagen o video)
        <hr>
    </h2>

    <form action="{{ url_for('formAddCon') }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <div class="row mt-4">
            <div class="col">
                <label for="foto">Contenido Multimedia</label>
                <input type="file" name="foto" class="form-control-file" accept="image/*" required>
            </div>
        </div>
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
    </form>
</section>

{% endblock %}