
<!-- {{ miDatacon }} -->
{% if (miDatacon) %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Contenido Multimedia</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for con in miDatacon %}
            {% with urlcon = '/static/assets/fotos_cont/' %}
            <tr id="Registro_{{ con.id }}">
                <th scope="row">{{ loop.index }}</th>
                <td>{{ con.nombre }}</td>
                <td>
                    {% if(con.foto !="") %}
                    <img src="{{ urlcon }}{{ con.foto }}" class="sin_foto_mini" alt="{{ con.id }}">
                    {% else %}
                    <img src="{{ urlcon }}sin_foto.jpg" class="sin_foto_mini" alt="contenido multimedia">
                    {% endif %}
                </td>
                <td width="300">
                    <span style="display: flex; justify-content:space-between;">
                        <a href="{{ url_for('viewDetallecon', idcon = con.id ) }}" type="button"
                            class="btn btn-warning btn-sm" tooltip="Ver Registro">
                            <i class="bi bi-eye"></i>
                            Ver
                        </a>
                        <a href="{{ url_for('formViewUpdatecon', id = con.id ) }}" class="btn btn-info btn-sm"
                            tooltip="Actualizar Registro">
                            <i class="bi bi-arrow-clockwise"></i>
                            Actualizar
                        </a>
                        <a href="#" id="id_{{ con.id }}" data-foto="{{ con.foto }}" onclick="eliminarconJavaScript('{{ con.id }}');" class="btn btn-danger btn-sm"
                            tooltip="Eliminar Registro">
                            <i class="bi bi-trash3"></i>
                            Eliminar
                        </a>
                    </span>
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row mb-5">
    <div class="col-md-12">
        <h3 class="text-center">No hay contenido multimedia</h3>
    </div>
</div>
{% endif %}