{% extends 'public/layoutcon.html' %}
{% block title %}Registrar Contenido multimedia{% endblock %}

{% block bodycon %}


<section>
    <h2>
        <a href="/lcon" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Detalles del Contenido
        <hr>
    </h2>

    {% if (infocon) %}
    


    <div class="card" style="width: 25rem;">
      {% set urlcon = '/static/assets/fotos_cont/' %}
        {% if(infocon.foto) %}
          <img src="{{ urlcon }}{{ infocon.foto }}" class="card-img-top" alt="content">
        {% else %}
          <img src="{{ urlcon}}sin_foto.jpg" class="card-img-top sin_foto" alt="content">
        {% endif %}

        <div class="card-body">
          <h5 class="card-title"> <strong>{{ infocon.nombre }}</strong></h5>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Titulo: <strong>{{ infocon.nombre }}</strong></li>
        </ul>
      </div>

      {% else %}
      <div class="col-12">
          <h2 class="text-center">
              No existe tal Contenido multimedia
          </h2>
      </div>
{% endif %}

</section>

{% endblock %}