<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Media Company About (Microservicios: Gestion de subscripciones, Gestion de contenido & gestion de publicidad)</title>
  <link rel="shortcut icon" href="{{url_for('static', filename ='assets/imgs/favicon.png')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/tooltip.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/custom_alert.css') }}">
</head>

<body>
  <nav class="navbar-nav">

    <div class="navbar-brand">

        <a href="/lsub">
            <img class="logo" src="{{ url_for('static', filename ='assets/imgs/logo.png') }}"
                alt="Media Company">     
        </a>

    </div>

  </nav>

      <div class="col-md-12">
          <i class="bi bi-boxes"></i>
          Media Company es una organización que tiene la capacidad de convertir su conocimiento en contenidos y distribuirlos en sus propios canales de comunicación para mejorar su imagen y amplificar su presencia.
      </div>

</body>

</html>