<nav class="navbar-nav">

    <div class="navbar-brand">
        <p>

        <a href="/lsub">
            <img class="logo" src="{{ url_for('static', filename ='assets/imgs/logo.png') }}"
                alt="Media Company">     
        </a>

        - 
        <a href="/lcon">
            <h2>Gestion de contenido</h2>
        </a>

        - 
        <a href="/lad">
            <h2>Gestion de Publicidad</h2>
        </a> 
        
        - 
        <a href="/about">
            <h2>About</h2>
        </a>


        </p>
    </div>


</nav>